doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.top-bar
      h1 gDrive
      if user
        div.user-info 
          div(class='user-name') Logged in as #[strong #{user.name}]
        a(href='/logout') Logout
    block content