doctype html
html
  head
    title gDrive
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    div.auth-page
      h1 gDrive
      p Welcome to gDrive! Proceed to login 
      form(action="", method="post" class='auth-form') 
        label(for="username") #[strong Username]: 
        input(required type="text" name='username' id='username')
        label(for="password") #[strong Password]: 
        input(required type="password" name='password' id='password')   
        button(type="submit") Login
      p Don't have an account? #[a(href='/signup') Sign up] for free.
      if errors 
        div.errors
          p #[strong Errors]
          ul 
            for error in errors 
                li=error