doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    div.auth-page
        h1 gDrive
        h2=title 
        form(action="", method="post" class='auth-form') 
            label(for="username") #[strong Username*]: 
            input(required type="text" name='username' id='username' value=(username || ''))
            label(for="password") #[strong Password*]: 
            input(required type="password" name='password' id='password')
            label(for="confirm-password") #[strong Confirm password*]: 
            input(required type="password" name='confirm-password' id='confirm-password')
            button(type="submit") Submit   
        a(href='/' style='margin-top: 24px;') Return to front page
    if errors 
        div.errors
          p #[strong Errors]
          ul 
            for error in errors 
                li=error.msg
                