extends layout 

block content 
    h2=title 
    form(action="", method="post") 
        label(for="username") #[strong Username]: 
        input(required type="text" name='username' id='username' value=(username === undefined ? '' : username))
        label(for="password") #[strong Password]: 
        input(required type="password" name='password' id='password')
        label(for="confirm-password") #[strong Confirm password]: 
        input(required type="password" name='confirm-password' id='confirm-password')
        button(type="submit") Submit   
    if errors 
        ul
            for error in errors 
                li=error.msg